@import '~vue-wysiwyg/dist/vueWysiwyg.css';
@import './../../Modules/Core/Resources/sass/app.scss';
@import './../../Modules/MasterData/Resources/sass/app.scss';
@import './../../Modules/BeritaProperti/Resources/sass/app.scss';
